

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
}

body {
    background-color: #0e0e10;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 21px;
    color: #fff;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button, 
input,
input:active,
input:focus,
button:active,
button:focus {
    outline: none;
}

/*
.page {
    overflow: hidden;
}
*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #333333;
}

::-webkit-scrollbar-track {
    background: #818181;
}

details summary::-webkit-details-marker {
    display: none
}

details > summary {
    list-style: none;
}

/* Blocks */
.header {
    height: 60px;
    width: calc(100% - 300px);
    background-color: #222226;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	    -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	     -o-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
			box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

/* #logout {
    margin-right: 20px;
    margin-top: 10px;
} */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container__main.about__mode:before {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    right: 52%;
}

.container__main.about__mode .left__panel .panel__content,
.container__main.about__mode .left__panel .panel__image {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
}

.container__main.about__mode .right__panel .panel__content,
.container__main.about__mode .right__panel .panel__image {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.container__main.about__mode .left__panel {
    pointer-events: none;
}

.container__main.about__mode .right__panel {
    pointer-events: all;
}

.container__main.about__mode .about__signin {
    left: 25%;
}

.container__main.about__mode .singin__form {
    z-index: 1;
    opacity: 0;
}

.container__main.about__mode .about {
    z-index: 2;
    opacity: 1;
}

.container__main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container__main:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(0deg, #4bb34b, #5c9ce6);
    top: -10%;
    right: 48%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.container__main__panels {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    z-index: 7;
}

.left__panel {
    pointer-events: all;
    padding: 3rem 17% 0rem 12%;
}

.right__panel {
    pointer-events: none;
    padding: 3rem 12% 0rem 17%;
}

.panel__content {
    color: #fff;
    transition: 1.1s .4s ease-in-out;
}

.panel__content__title {
    font-weight: 600;
    line-height: 1;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.panel__content p {
    margin-bottom: 2rem;
}

.panel__content__context {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.panel__image {
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right__panel .panel__content, .right__panel .panel__image {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
}

.about__signin {
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #222226;
    width: 300px;
    height: 100vh;
}

.sidebar-header {
    padding-top: 7px;
    height: 60px;
    font-size: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35) !important;
}

.sidebar-logo {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar-logo-text {
    color: #fff;
    display: inline-block;
    margin-right: 7px;
    font-weight: 600;
    font-size: 2.5rem;
    transition: all 0.5s ease;
}

.sidebar-logo-subtext {
    color: #b05f5f;
    font-weight: 600;
    font-size: 2.5rem;
    transition: all 0.5s ease;
}


.sidebar-logo:hover .sidebar-logo-subtext {
    text-shadow: 1px 1px 2px black, 0 0 0.2em #7a2222;
}

.sidebar-logo:hover .sidebar-logo-text {
    text-shadow: 1px 1px 2px black, 0 0 0.2em #d99191;
}

.sidebar-menu {
    margin-top: 10px;
}

.sidebar-menu-item {
    /* color: #adadad; */
    color: #fff;
    position: relative;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    transition: background-color .2s linear;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35) !important;
}

.sidebar-menu-item.exit-but {
    background: #b05f5f;
}

.sidebar-menu-item.active {
    border-right: 2px solid #b05f5f;
    background-color: #161619;
}

.sidebar-menu-item:hover {
    background-color: #161619;
}

.sidebar-menu-item.exit-but:hover {
    background: #7c4242;
}

.sidebar-menu-item-icon img {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 32px;
}

.sidebar-menu-item-text {
    cursor: pointer;
}

.sidebar-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.sidebar-page-bottom {
    text-align: center;
    padding-bottom: 115px;
    height: 50px;
}

.sidebar-page-bottom-context {
    color :#b05f5f;
    font-size: 18px;
}

.sidebar-page-bottom-text {
    color :#ccc;
    font-size: 18px;
    transition: all 1s ease;
}

.sidebar-page-bottom-text:hover {
    color :#fff;
    font-size: 20px;
}

.main {
    padding-left: 300px;
    padding-top: 30px;
}



/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
    font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
    font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
    font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.button-exit {
    background-color: #161619;
    color: #fff;
    border-color: transparent!important;
    font-size: 24px;
    cursor: pointer;
    padding: 6.5px 15px;
    transition: all 1s ease-in-out;
    height: 100%;
    width: 120px;
}



.button-exit:hover {
    background-color: #b05f5f;
}

.main__form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.singin__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    transition: .2s .7s ease-in-out;
}

.title__singin__form {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 600;
}

.input__singin__form {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 5.5rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input__singin__form i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.6rem;
}

.input__singin__form input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
}

.input__singin__form input::-webkit-input-placeholder {
    color: #cccccc;
    font-weight: 500;
}

.input__singin__form input::-moz-placeholder {
    color: #cccccc;
    font-weight: 500;
}

.input__singin__form input:-ms-input-placeholder {
    color: #cccccc;
    font-weight: 500;
}

.input__singin__form input::-ms-input-placeholder {
    color: #cccccc;
    font-weight: 500;
}

.input__singin__form input::placeholder {
    color: #cccccc;
    font-weight: 500;
}

.about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
    opacity: 0;
    transition: .2s .7s ease-in-out;
}

.title__about {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 600;
}

.description__about {
    width: 400px;
    color: #cccccc;
    font-size: 1.6rem;
    text-align: center;
}

/* sity */

.main-block {
    background: #222226;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.main-block-caption {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 28px;
    color: #f38181;
    text-align: center;
/*    padding-left: 50px;*/
    margin-bottom: 30px;
    margin-top: 20px;
}



details {
    font-size: 16px;
    margin: 10px auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    background: #0e0e10;
    border-radius: 8px;
    position: relative;
    width: 100%;
}



details .summary-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

details:hover {
    cursor: pointer;
}


details .summary-content {
    border-top: 1px solid #f38181;
    cursor: default;
    padding: 1em;
    font-weight: 300;
    line-height: 1.5;
}

details summary {
    padding: 1em;
}

details summary:focus {
    outline: none;
}

details summary:hover .summary-chevron-up svg {
    opacity: 1;
}

details .summary-chevron-up svg {
    opacity: 0.5;
}

details .summary-chevron-up,
  details .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 0.75em;
    right: 1em;
    background: #0e0e10;
}

details .summary-chevron-up svg,
    details .summary-chevron-down svg {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

.summary-title-block {
    display: flex;
    align-items: center;
}

.summary-title-block img{
    width: 32px;
    margin-right: 5px;
}


.stop-city:hover {
    cursor: default;
}

/*
.stop-city .summary-title-block {
    width: 400px;
}
*/

.stop-city summary {
    padding: 0.6em;
    width: 400px;
}

.stop-city {
    font-size: 16px;
    margin: 10px auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    background: #0e0e10;
    border-radius: 0px;
    position: relative;
    width: 100%;
}

.stop-city-qr {
    width: 32px;
    height: 100%;

}

.stop-city-right {
    position: absolute;
    right: 0;
    top: 0;
}

/* form */

.form-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form__input {
    border-radius: 3px;
    background-color: #444446;
    color: #fff!important;
    border-color: transparent!important;
    font-size: 18px;
    padding-left: 30px;
    line-height: 35px;
    width: 300px;
    text-transform: capitalize;
}

.form__button {
    border-radius: 4px;
    background-color: #444446;
    color: #fff;
    border-color: transparent!important;
    font-size: 16px;
    cursor: pointer;
    padding: 6.5px 15px;
    transition: background .1s linear;
}

.form__button:hover {
    background: darken(#444446);
/*   / border-radius: 25px;*/
}

.form__button.button-delete {
    margin-bottom: 6px;
    margin-left: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hide-inputs {
    display: none;
}

.new-line-block {
  flex-basis: 100%;
  height: 0;
}

#newname-stop-add{
    margin-bottom: 10px;
}




/* toast */
.toast {
    font-size: inherit;
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 300px;
    background-color: #1d1f21;
    border-radius: 6px;
    z-index: 1000;
}

.toast-header {
    padding: 1rem;
    text-align: center;
}

.toast-body {
    text-align: center;
    background-color: #1d1f21;
    padding: 1.25rem;
    line-height: 25px;
}

.close {
    font-size: 1.9rem;
}

#toast-alert-msg {
    color: #3c3c3c;
}

.toast-circle {
    min-height: 16px;
    min-width: 16px;
    margin-right: 8px;
    border-radius: 50px;
}

@-webkit-keyframes blinker {
    0% { opacity: 0.0; }
/*    50% { opacity: 0.0; }*/
    100% { opacity: 1.0; }
}
.blink {
    -webkit-animation: blinker 1s 1;
    -moz-animation: blinker 1s 1;
    animation: blinker 1s 1;
}

.toast-circle.ok {
    background-color: #28a745;
}

.toast-circle.error {
    background-color: #dc3545;
}

.toast-circle.msg {
    background-color: #6f42c1;
}

/* Tree */

#tree {
    background-color: #0e0e10;
    height: 100%;
    width: 60%;
    text-align: left;
    padding: 7px;
    border-radius: 5px;
}

.block-tree {
    display: flex;
    text-align: left;
    justify-content: space-between;
    position: relative;
}

.list-group-item.active {
    background-color: unset;
}

.block-tree-menu {
    position: relative;
    width: 40%;
}

.block-tree-menu-absolute {
    margin-left: 10px;
    margin-top: -10px;
}


input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.folder-structure {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.folder-structure-label {
    display: flex;
    align-items: center;
    width: 9em;
    height: 5em;
    background: #2c3e50;
    border-radius: 2.5em;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 8px;
}

.folder-structure-context {
    font-size: 24px;
    line-height: 35px;
}

.check-handler {
    display: flex;
    margin-left: 0.5em;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background: #34495e;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.check-handler:before {
    content: "\00D7";
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: arial;
}
input[type="checkbox"]:checked + .folder-structure-label {
    background: #16a085;
}
input[type="checkbox"]:checked + .folder-structure-label .check-handler {
    margin-left: 50%;
    background: #1abc9c;
}
input[type="checkbox"]:checked + .folder-structure-label .check-handler::before {
    content: "\2714";
}


/* .fixed {
    position: fixed;
    z-index: 99;
    top: 60px;
}

.absolute {
    position: absolute;
    z-index: 99;
} */


.block-tree-menu-fixed {
    position: fixed;
    /* transform: translateX(-100%); */
}

/* get-qr-block */

.get-qr-block {
    text-align: center;
}

#stop-station-count-delete {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 5px;
}



@font-face {
    font-family: "Glyphicons Halflings";
    src: url("./fonts/glyphicons-halflings-regular.eot");
    src: url("./fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("./fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

.glyphicon {
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-plus:before {
    content: "\002b"
}

.glyphicon-minus:before {
    content: "\2212"
}

.glyphicon-unchecked:before {
    content: "\e157"
}

.glyphicon-check:before {
    content: "\e067"
}

.list-group-item {
    color: black;
/*    background: #0e0e10;*/
}

[data-type="tree"] ul li [data-role="expander"].bt-tree-glyphicons-expander .glyphicon {
    top: 4px;
}

.form__button.qr-button {
    width: 64px;
    height: 64px;
    background-color: #0e0e10;
    background-image: url(../images/icon/qr-code.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.list-group-item {
    background: #0e0e10;
}

.modal-footer-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Table */

.table-container {
    padding: 0 50px;
}

.table-dark.table-hover tbody tr {
    transition: all 1s ease;
}

.table-dark.table-hover tbody tr:hover {
    background-color: #b05f5f;
    cursor: pointer;
}

table th, table td {
    text-align: center; 
 }

#modal-transport {
     color: #000;
 }

.top-table-flex {
     display: flex;
     justify-content: space-between;
 }

 .page-item.active .page-link {
    background-color: #b05f5f;
    border-color: #b05f5f;
}




/* Clock */

.form-add-transport-input-time {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.form-add-transport-input-time.type-transport-block {
    padding: 0 40px;
}

.form-add-transport-input-time-clock {
    margin-left: 10px;
    width: 150px;
}


.glyphicon {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .glyphicon-time:before {
    content: "\e023";
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -4px;
}

.type-transport {
    width: 90px;
    height: 90px;
    /* opacity: 0.6; */
    border-radius: 8px;
    border: 4px solid #0e0e10;
    background: #0e0e10;
    transition: all 0.5s ease;
    cursor: pointer;
}

.radio-transport,.radio-select-period {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-select-period:checked + .block-select-period-item {
    border-color: #b05f5f;
}

.block-select-period-item {
    /* height: 40px; */
    padding: 6px 12px;
    /* opacity: 0.6; */
    border-radius: 8px;
    border: 3px solid #0e0e10;
    background: #0e0e10;
    transition: all 1s ease;
    cursor: pointer;
    margin-right: 10px;
}

.block-select-period-item.select-period-item {
    border-color: #b05f5f;
}

.radio-transport:checked + .type-transport {
    border-color: #b05f5f;
}

.type-transport.select-transport {
    border-color: #b05f5f;;

}

.type-transport img {
    width: 100%;
}

.type-transport:hover {
    border-color: #b05f5f;
}

.block-select-period-item:hover {
    box-shadow: 0 12px 15px -5px rgb(0 0 0 / 70%);
}

.char-block {
    /* padding: 0 100px; */
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.block-options-statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-select-period {
    display: flex;
    justify-content: flex-start;
}

.stastistic-img {
    height: 32px;
    width: 32px;
    background-image: url(../images/icon/img-statistic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

.bootstrap-select{
    margin-bottom: 10px;
}


.nested-1 {
    background: #b05f5f;
    color: #fff;
    width: 400px;
}

.list-group-item {
    cursor: pointer;
    transition: background .5s linear ;
}

#list-add-stop-station .list-group-item:hover,#list-save-stop-station .list-group-item:hover {
    background-color: #a05555;
}

#list-add-stop-station,#list-save-stop-station {
    height: 100%;
    min-height: 90px;
    width: 430px;
    padding: 15px;
    background-color: #0e0e10;
}

#block-drag-stop-station {
    display: none;
}

#tip-for-select-route {
    width: 100%;
    text-align: center;
}

.block-drag-stop-station-select {
    width: 100%;
    text-align: center;
    /* margin-bottom: 15px; */
}

.drag-block {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.drag-block-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.drag-block-img-swap {
    height: 64px;
    width: 64px;
}
.caption-drag {
    text-align: center;
    margin-bottom: 10px;
}

#lock-drag-stop-station-select-districts {
    display: none;
}

#form-update-route {
    justify-content: center;
}

.route-menu {
    display: flex;
    align-items: flex-start;
}

.route-menu-details {
    width: 45%;
}







































